<?xml version="1.0" encoding="utf-8" ?>
<fosol.datamodel xmlns="http://schemas.fosol.ca/DataModel.xsd">
  <add name="Default" alias="" providerName="" connectionString="">
    <rules>
      <invalidCharacters defaultAlias="_">
        <add char=" " alias="" camelCase="true"/>
      </invalidCharacters>
      <foreignKeys pluralize="true" useColumnName="true"/>
    </rules>
    <tables import="None"/>
    <views import="None"/>
    <routines import="None"/>
  </add>
</fosol.datamodel>