<?xml version="1.0" encoding="utf-8" ?>
<fosol.datamodel xmlns="http://schemas.fosol.ca/DataModel.xsd">
  <datamodels>
    <add name="Default" alias="" providerName="" connectionString="">
      <control>
        <aliases default="_">
          <add find=" " replace="" camelCase="true"/>
        </aliases>
        <foreignKeys pluralize="true" useColumnName="true"/>
      </control>
      <tables import="All"/>
      <views import="All"/>
      <routines import="All"/>
    </add>
  </datamodels>
</fosol.datamodel>