<?xml version="1.0" encoding="utf-8" ?>
<fosol.datamodel xmlns="http://schemas.fosol.ca/DataModel.xsd" name="" alias="">
  <rules>
    <invalidCharacters defaultAlias="_">
      <add char=" " alias="" camelCase="true"/>
    </invalidCharacters>
    <foreignKeys pluralize="true" useColumnName="true"/>
  </rules>
  <tables import="None"/>
  <views import="None"/>
  <routines import="None"/>
</fosol.datamodel>