<?xml version="1.0" encoding="utf-8"?>
<fosol.datamodel xmlns="http://schemas.fosol.ca/DataModel.xsd">
  <datamodels>
    <add name="Fosol.Team.Db.Dev" connectionString="FosolTeamDb">
      <convention>
        <aliases defaultReplaceWith="" useCamelCase="true" />
        <foreignKeys pluralize="true" useColumnName="true" />
      </convention>
      <tables import="All">
        <add name="__MigrationHistory" action="Ignore" />
        <add name="StoryCommentType" action="Ignore" />
        <add name="StoryComment" alias="StoryComment" action="Import">
          <columns import="All">
            <add name="Id" alias="Id" action="Import" />
          </columns>
        </add>
      </tables>
      <views />
      <routines />
    </add>
  </datamodels>
</fosol.datamodel>