<?xml version="1.0" encoding="utf-8"?>
<fosol.datamodel xmlns="http://schemas.fosol.ca/DataModel.xsd">
  <rules>
    <invalidCharacters defaultAlias="_">
      <add char=" " alias="_" />
    </invalidCharacters>
    <foreignKeys pluralize="true" useColumnName="true" />
  </rules>
  <tables import="Configured">
    <add name="Story" alias="Story" action="Import">
      <columns>
        <add name="Id" alias="Id" action="Import" />
      </columns>
    </add>
  </tables>
  <views />
  <routines />
</fosol.datamodel>