<?xml version="1.0" encoding="utf-8" ?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
  <xsl:output encoding="utf-8" indent="yes" method="xml"/>
  <xsl:template match="/">
    <fosol.datamodel xmlns="http://schemas.fosol.ca/DataModel.xsd">
      <datamodels>
        <add name="Fosol.Team.Db.Dev" connectionString="FosolTeamDb">
          <convention>
            <aliases default="_">
              <add find="id" replaceWith="Id"/>
              <add find=" " replaceWith=""/>
              <add find="\*|\.|\(|\)" replaceWith="_" isRegex="true"/>
              <add find="." replaceWith="_"/>
            </aliases>
            <foreignKeys pluralize="true" useColumnName="true"/>
          </convention>
          <tables import="Configured">
            <add name="StoryComment" alias="StoryComment" action="Import">
              <columns import="All">
                <add name="Id" alias="Id" action="Import"/>
              </columns>
            </add>
          </tables>
          <views/>
          <routines/>
        </add>
      </datamodels>
    </fosol.datamodel>
  </xsl:template>
</xsl:stylesheet>

