<?xml version="1.0" encoding="utf-8"?>
<fosol.datamodel xmlns="http://schemas.fosol.ca/DataModel.xsd">
  <datamodels>
    <add name="Fosol.Team.Db.Dev" connectionString="FosolTeamDb">
      <rules>
        <invalidCharacters defaultAlias="_">
          <add char=" " alias="_" />
        </invalidCharacters>
        <foreignKeys pluralize="true" useColumnName="true" />
      </rules>
      <tables import="Configured">
        <add name="Story" alias="Story" action="Import">
          <columns import="Configured">
            <add name="Id" alias="Id" action="Import" />
          </columns>
        </add>
      </tables>
      <views />
      <routines />
    </add>
  </datamodels>
</fosol.datamodel>